
<link href="@Url.Content("~/css/Consent.css")" rel="stylesheet" type="text/css" />

@model ConsentViewModel

<div class="main">
    <partial name="_ValidationSummary" />

    <form asp-action="Index" class="consent-form">
        <input type="hidden" asp-for="ReturnUrl" />
        <div class="contentWrapper">
            <h1>
                @Model.ClientName
                ønsker tilatelse til følgende
            </h1>
            <div class="main-info">
                <p>Fjern avkryssning der du ikke ønsker å gi tilgang</p>
                @if (Model.IdentityScopes.Any())
                {
                    <div class="itemWrapper">
                        <h2>Personlig informasjon</h2>
                        @foreach (var scope in Model.IdentityScopes)
                        {
                            <partial name="_ScopeListItem" model="@scope" />
                        }
                    </div>
                }

                @if (Model.ResourceScopes.Any())
                {
                    <div class="itemWrapper">
                        <h2>Applikasjonstilgang</h2>
                        @foreach (var scope in Model.ResourceScopes)
                        {
                            <partial name="_ScopeListItem" model="scope" />
                        }
                    </div>
                }
                @if (Model.AllowRememberConsent)
                {
                    <div class="">
                        <label>
                            <input class="consent-scopecheck" asp-for="RememberConsent" />
                            Husk svarene mine
                        </label>
                    </div>
                }
                <div class="ntnWrapper">
                    <button name="button" value="yes" autofocus>Tillat</button>
                    <button name="button" value="no">Ikke tillat</button>
                    @if (Model.ClientUrl != null)
                    {
                        <a class="pull-right btn btn-default" target="_blank" href="@Model.ClientUrl">
                            <span class="glyphicon glyphicon-info-sign"></span>
                            <strong>@Model.ClientName</strong>
                        </a>
                    }
                </div>

            </div>
        </div>
    </form>
</div>